################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventorySystemApp/obj
/InventorySystemApp.Common/obj
